
/***
http://www.color-hex.com/color/fec503
Cmd+Shit+c for color picker
**/

$root-font-stack: 'Lato', Helvetica, sans-serif;
$root-font-size : 16px;

$primary-color : #c1eec6; // green
$secondary-color : #ffe4f6; // pink
$tertiary-color : #f3f6c1; // yellow
$quaternary-color : #f6dcc1; // mandarine
$quinary-color: #cedcf4; // blue
$senary-color: #555;

$text-color: $senary-color;
$team-bg-color : $quaternary-color;

$section-padding-top : 36px;

$team-img-size : 112px;