$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// components
@import "_variables";
@import "_typo";
@import "_buttons";

// sections
@import "_scaffolding";
@import "_header";
@import "_ribbon";

/* pour les chiffres dates */
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('../fonts/ecuyerr-webfont.eot');
    src: url('../fonts/ecuyerr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ecuyerr-webfont.woff2') format('woff2'),
         url('../fonts/ecuyerr-webfont.woff') format('woff'),
         url('../fonts/ecuyerr-webfont.ttf') format('truetype'),
         url('../fonts/ecuyerr-webfont.svg#ecuyerdaxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "save-the-date";
    src:url("../fonts/save-the-date.eot");
    src:url("../fonts/save-the-date.eot?#iefix") format("embedded-opentype"),
        url('../fonts/save-the-date.woff2') format('woff2'),
        url("../fonts/save-the-date.woff") format("woff"),
        url("../fonts/save-the-date.ttf") format("truetype"),
        url("../fonts/save-the-date.svg#save-the-date") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lavanderia_sturdysturdy';
    src: url('../fonts/lavanderia_sturdy-webfont.eot');
    src: url('../fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lavanderia_sturdy-webfont.woff2') format('woff2'),
         url('../fonts/lavanderia_sturdy-webfont.woff') format('woff'),
         url('../fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
         url('../fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/greatvibes-regular-webfont.eot');
    src: url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
[data-icon]:before {
    font-family: "save-the-date" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "save-the-date" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-like:before {
    content: "a";
}
.icon-paperplane:before {
    content: "b";
}
.icon-check-mark:before {
    content: "c";
}
.ornment {
    margin-top:95px;
    display:block;
    img {max-width:100%;}
}
header {
    background-position: top center;
    background-attachment: scroll;
    background-color:#fff;
    background-size:contain;
}
.intro-text {
    padding-top: 20px;
    color:$text-color;
    text-shadow:1px 1px 1px #fff;
}
.intro-heading {
    font-size: $root-font-size * 2.56;
    color:$tertiary-color;
    margin-bottom: 15px;
}
.intro-lead-in {
    font-weight: 700;
    margin-bottom: 15px;
}
.intro-text p {
    background:#fff;
    padding: 10px;
    font-size: $root-font-size / 1.1;
    line-height: $root-font-size * 1.5;
    border:3px dashed #fff;
    color:#fff;
    border-radius:3px;
    span {
        display:block;
        background:$secondary-color;
        color:$text-color;
        text-align:left;
        text-shadow:none;
        padding:6px 12px;
    }
    big {
        text-transform: uppercase;
        font-size: 1.25em;
        font-family: "Arial";
        font-weight:700;
        i {
            font-size: $root-font-size*2;
        }
    }
}
footer {
    background-color:$text-color;
    color:darken(#fff, 20%);
    text-align:center;
    font-size:$root-font-size / 1.2;
    line-height:$root-font-size * 2;
}
.has-error {
    position:relative;
}
.has-error .help-block {
    display: block;
    padding: 6px 12px 6px 12px;
    border-radius: 2px;
    background: $state-danger-text;
    color: #fff;
    font-weight: 300;
}
.inutile {
    color:#fff;
    border-radius:3px;
}
.names {
    display: block;
    margin-top:10px;
    font-family : "great_vibesregular";
    font-size: $root-font-size * 2;
    border-bottom:4px solid #fff;
}
.married {
    display: block;
    text-transform:uppercase;
    font-family : "bebas_neueregular";
    font-size: $root-font-size * 5; 
    letter-spacing:-1px;
    line-height:.9em;
}
.savethedate {
    display: block;
    text-transform:uppercase;
    font-size: $root-font-size * 1.125;
    position: relative;
    font-family: serif;
    &:before, &:after {
        position: absolute;
        content :" ";
        display: block;
        border:1px solid $text-color;
        width: 15px;
        height: 15px;
        border-radius:7px;
        top:3px;
    }
    &:before {
        left:25px;
    }
    &:after {
        right:25px;
    }
}
.location {
    display: block;
    font-family : "lavanderia_sturdysturdy";
    font-size: $root-font-size * 1.5;
    border-bottom:4px solid #fff;
}
.date {
    display: block;
    font-family : "ecuyerdaxregular";
    font-size: $root-font-size * 1.75;
    letter-spacing:3px;
    position:relative;
    display: inline-block;
    
}
@media(min-width:768px) {
    .has-error .help-block {
        position: absolute;
        top: 7px;
        right: 15px;
        font-weight: 700;
    }
    .names {
        display: block;
        font-size: $root-font-size * 4;
        border-bottom:4px solid #fff;
    }
    .married {
        display: block;
        text-transform:uppercase;
        font-family : "bebas_neueregular";
        font-size: $root-font-size * 10; 
        letter-spacing:-1px;
        line-height:.9em;
    }
    .savethedate {
        font-size: $root-font-size * 2.25;
        &:before, &:after {
            border:2px solid #fff;
            width: 30px;
            height: 30px;
            border-radius:15px;
            top:5px;
        }
        &:before {
            left:5px;
        }
        &:after {
            right:5px;
        }
    }
    .location {
        display: block;
        font-family : "lavanderia_sturdysturdy";
        font-size: $root-font-size * 3;
        border-bottom:4px solid #fff;
    }
    .date {
        display: block;
        font-family : "ecuyerdaxregular";
        font-size: $root-font-size * 3.5;
        letter-spacing:3px;
        position:relative;
        color: #fff;
        display: inline-block;
        
    }
    header {
        background-size:cover;
        background-attachment:fixed;
    }
    .intro-text {
        padding-bottom:100px;
        color:#fff;
        text-shadow:none;
    }
    .text-center {
        padding-top:100px;
    }
    .intro-text {
        text-shadow:1px 1px 1px $text-color;;
        p {
            margin-top:100px;
            font-size: $root-font-size * 1.1;
            line-height: $root-font-size * 1.5;
        }
    }
    .intro-lead-in {
        font-size:$root-font-size * 2;
        margin-bottom:40px;
        margin-top:40px;
    }
    .intro-heading {
        font-size:$root-font-size * 5;
        font-family:'ecuyerdaxregular', sans-serif;
        font-weight:500;
        margin-bottom:40px;
        margin-top:40px;
    }
    .form-control {
        font-size:$root-font-size * 1.5;
        height:$root-font-size * 4;
        line-height:$root-font-size * 4;
    }
    .btn {
        font-size: $root-font-size * 1.5;
    }
}
